
{% extends 'base/base.html' %}

{% block body_block %}
{% comment %} {% if object.user in blocked %}
abe apna kaam karna lehen ke bode
{% else %} {% endcomment %}
{{ object }} </br>
{{ object.user }} </br>
{{ object.user.email }} </br>
{{ object.about }} </br>
{{ object.softwear }} </br>

</hr>

</br>
</hr>
{{ qs }}</br>
{% for query in qs %}
{{ query.question }}</br>
{% endfor %}</br>
followers: {{ followers }}</br>
following: {{ following }}</br>
"
{% comment %} <form method='POST' method="{% url 'portfolio:follow' object.user.pk %}">
{% csrf_token %}
<input type='submit' name='submit' value='follow'>
</form> {% endcomment %}
{% if request.user in followers %}
<a href="{% url 'portfolio:unfollow' object.user.pk %}"> unfollow </a>
<a href="{% url 'portfolio:block' object.user.pk %}"> block </a>
{% else %}
<a href="{% url 'portfolio:follow' object.user.pk %}"> follow </a>
{% endif %}
{% if object.user in blocked %}
<a href="{% url 'portfolio:unblock' object.user.pk %}"> Unblock </a>

{% endif %}
{% endblock %}