{% extends 'base/base.html' %}
{% block body_block %}

  {{ object.question }}
  {{ object.user }}</br>
 
 
  <form method='POST'>
  {% csrf_token %}
  {{ form }}
  <input type='submit' name='submit' value='submit' class='btn btn-primary'>
  </form>
 <h1>answer List</h1>

  <ul>

    {% for answer in answers %}
      <div class="row text-info">
         {{ answer.user }}
         
      </div>
          <hr></hr>
        <div class="row text-dark">
          {{ answer.answer }}
           Total Likes : {{ answer.like }}</br>
  Total Dislikes : {{ answer.dislike }}</br>
  <a href="{% url 'questions:like' answer.pk object.pk %}"> like </a></br>

        </div>
        <br>
        <br>

    {% endfor %}
  </ul>

    <p>There are no answers in the library.</p>


{% endblock %}
© 2020 GitHub, Inc.