{% extends 'base/base.html' %}
{% block body_block %}

  {{ object.question }}
  {{ object.user }}</br>
 
 
  <form method='POST'>
  {% csrf_token %}
  {{ form }}
  <input type='submit' name='submit' value='submit' class='btn btn-primary'>
  </form>
 <h1>answer List</h1>

  <ul>

    {% for answer in answers %}
         {{ answer.user }}
         
      </div>
          <hr></hr>
        <div class="row text-dark">
      <a href="{% url 'answers:detail' answer.pk %}">
          {{ answer.answer }}
           Total Likes : {{ answer.like_count }}</br>
  Total Dislikes : {{ answer.dislike_count }}</br>
  <a href="{% url 'questions:like' answer.pk object.pk %}"> like </a></br>

        </div>
        <br>
        <br>

    {% endfor %}
  </ul>

    <p>There are no answers in the library.</p></br>
{% if request.user == object.user %}
<a class='label-danger' href="{% url 'questions:delete' object.pk %}"> Delete !</a></br>
<a class='label-info' href="{% url 'questions:update' object.pk %}"> update question</a></br>
{% else %}
{% endif %}
{% endblock %}
© 2020 GitHub, Inc.