<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <h1> Q and A list </h1>
     <div class="content">
       {% for question in questions %}
       <a href="/questions/{{ question.question_id }}/{{ question.slug }}">{{ question.question }}</a>
       <p>
         {% if question.image %}
            <img src="{{ question.image.url }}" class="img-fluid"/>
         {% endif %}
       </p>
       {% endfor %}
     </div>
  </body>
</html>
